<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task-4.0.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描器-->
    <context:component-scan base-package="com.jianzixing.webapp.service"/>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>

    <bean id="placeholderConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/system.properties</value>
                <value>classpath:properties/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据源 Mysql数据库配置 -->
    <bean id="defaultDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--初始化的连接数-->
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <property name="maxIdle" value="30"/>
        <property name="maxWait" value="${jdbc.maxWait}"/>
        <property name="validationQuery" value="${jdbc.validationQuery}"/>
        <property name="testWhileIdle" value="${jdbc.testWhileIdle}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
        <property name="testOnBorrow" value="${jdbc.testOnBorrow}"/>
    </bean>

    <bean name="mimosaSessionFactory" class="org.mimosaframework.orm.spring.SpringMimosaSessionFactory">
        <property name="applicationName" value="jianzixing_web"/>
        <property name="dataSource" ref="defaultDataSource"/>
        <property name="scanPackage" value="com.jianzixing.webapp.tables"/>
        <property name="mapper" value="/mapper"/>
        <property name="convertType" value="H2U"/>
        <property name="mappingLevel" value="CREATE"/>
        <property name="showSQL" value="${system.showSql}"/>
    </bean>

    <bean name="mimosaSessionTemplate" class="org.mimosaframework.orm.spring.SpringMimosaSessionTemplate">
        <property name="factory" ref="mimosaSessionFactory"/>
    </bean>

    <!--结束读取mybatis的配置文件-->

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>10485760</value>
        </property>
    </bean>

    <bean class="com.jianzixing.webapp.install.AfterSpringBeanInstall">
        <property name="sessionTemplate" ref="mimosaSessionTemplate"/>
    </bean>

    <import resource="spring-timer.xml"/>
</beans>