body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    font-family: -apple-system, "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

ul {
    list-style: none;
}

.box {
    background-color: #ffffff;
    margin: 0px 3vw;
    padding-left: 4vw;
}
.box .empty {
    text-align: center;
    height: 30vh;
    line-height: 30vh;
    font-size: 15px;
    color: #999999;
}
.box .title {
    padding: 30px 0px;
    font-size: 15px;
    /*color: #999999;*/
    color: #333333;
    text-align: center;
}

.box .list {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    color: #B0B0B0;
    overflow: hidden;
}
.box .list .item {
    float: left;
    width: 26vw;
    margin-right: 4vw;
    margin-bottom: 4vw;
}
.box .list .item .name {
    font-size: 13px;
    /*color: #c2177d;*/
    color: #37b059;
    text-align: center;
}
.box .list .item .pic {
    margin: 5px 0px 5px 0px;
    width: 26vw;
    height: 26vw;
    overflow: hidden;
}
.box .list .item .pic img {
    width: 26vw;
    height: 26vw;
}
.box .list .item .info {
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
}
.box .list .item .info .btn {
    height: 22px;
    text-align: center;
    /*background-color: #c2177d;*/
    background-color: #37b059;
    border-radius: 5px;
    color: #ffffff;
    padding: 0px 5px;
}

.box .list .item .info .btn.disable {
    background-color: #AAAAAA;
}

.box .list .item .info .text {
    margin-left: 5px;
    text-align: center;
}

.box .detail {
    min-height: 30px;
    margin: 5vh 4vw 0 0;
    padding-bottom: 10vh;
    color: #999999;
    font-size: 12px;
}

.box .sub-title {
    font-size: 12px;
    /*color: #999999;*/
    color: #666666;
    text-align: center;
}

.item-nav {
    position: relative;
    width: 100%;
    height: 12vw;
    line-height: 12vw;
    background-color: #37b05a;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.item-nav .back {
    display: block;
    position: absolute;
    width: 24px;
    height: 100%;
    left: 5px;
    background: url("../img/back.png") no-repeat center;
    background-size: 24px;
}